{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Page d'accueil{% endblock %}
{% block contenu %}
{{ parent() }}


<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Tous droits réservés
    <a class="text-dark">BECQUAERT Rémi</a>
  </div>
</footer>
{% endblock %}