{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Actualité{% endblock %}
{% block contenu %}
{{ parent() }}


<footer class="bg-dark text-center text-white">  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Tous droits réservés : 
    <a class="text-white" href="index.php">BECQUAERT Rémi</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}