<!DOCTYPE html>
<html>
<title>CV BECQUAERT Rémi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif !important;}
.fa {color: #000000 !important;}
.w3-teal {background-color: #000000 !important;}
</style>
<body class="w3-light-grey">

<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
        <div class="w3-display-container w3-margin-bottom">
          <img src="../public/images/remi.jpg" style="width:100%" alt="Avatar">
        </div>
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <br>

          <p class="w3-large"><b><i class="fa fa-desktop fa-fw w3-margin-right w3-text-teal"></i>Compétences langages informatique</b></p>
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>BASH</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>          
          <p>HTML/CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Bootstrap</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>          
          <p>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>       
          <br>
          <hr>

          <p class="w3-large"><b><i class="fa fa-html5 fa-fw w3-margin-right w3-text-teal"></i>Service Web</b></p>
          <p>Apache</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Fail2ban</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Pure-FTPD</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>          
          <p>MySQL/PhpMyAdmin</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>Wordpress</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>      
          <br>
          <hr>            

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Autres compétences informatique</b></p>
          <p>Windows/Linux/Mac OS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Architecture MVC</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>   
          <br>
        </div>
      </div><br>

    </div>

    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-info fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Informations</h2>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Étudiant développeur informatique</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Beuvry, 62660, France</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-teal"></i>20 ans</p>
          <p><i class="fa fa-car fa-fw w3-margin-right w3-large w3-text-teal"></i>Permis B véhiculé</p>
          </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Expériences professionelles</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Stagiaire développeur/développeur web - Lutins, gnômes et autres trolls de Sophie</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mai 2021 - Juillet 2021<span class="w3-tag w3-teal w3-round"></span></h6>
          <p>Création du site web de l'entreprise, conseils sur les choix d'hébergement</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Service Civique - Conseils Citoyens de Beuvry et Noeux-Les-Mines</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Février 2020 - Juillet 2020</h6>
          <p>Communication générale relative aux évènements des deux Conseils Citoyens, mise en contact avec la population des quartiers prioritaires, création d'un site web à l'aide de WIX</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Ouvrier agricole - EARL BEGHIN</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Juillet 2019 - Août 2019</h6>
          <p>Récolte et désherbage de salades et de légumes de saison cultivés en agriculture biologique</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Diplômes/Formations</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>BTS SIO - Lycée Guy Mollet (Arras, 62)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Depuis Septembre 2020</h6>
          <p>Option SLAM (Solutions Logicielles et Applications Métiers)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Baccalauréat Littéraire - Lycée Marguerite Yourcenar (Beuvry, 62)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Septembre 2018 - Juin 2019</h6>
          <p>Obtenu avec mention bien</p>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-language fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Langues</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Anglais</b></h5>
          <p>Lu, écrit et parlé couramment, niveau B2 - TOEIC Bridge obtenu en 2018</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Espagnol</b></h5>
          <p>Lu, écrit et parlé, niveau A2</p>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-briefcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Hobbies/Passe-temps</h2>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-futbol-o fa-fw w3-margin-right"></i>Sports</h6>
          <p>Sports collectifs (Football et arbitrage, basketball)<br>Sports individuels (Tennis, sports de combat)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-gamepad fa-fw w3-margin-right"></i>Univers et culture jeu-vidéoludique</h6>
          <p>RolePlay Game, First Person Shooter, Stratégie, Sport, Simulation</p>
          <hr>
        </div>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-desktop fa-fw w3-margin-right"></i>Informatique générale</h6>
          <p>Veille technologique</p>
        </div>        
      </div>

    </div>
  </div>
</div>

<footer class="bg-dark text-center text-white">  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="index.php">Accueil du site</a><br>
    © 2021 Tous droits réservés : BECQUAERT Rémi
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>